{% extends "blog/base.html" %}
{% block content %}
    <div class="container" id="qbody">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Question 1 </h5>
                <div class="alert alert-primary" role="alert" id="qbox">
                    <h2>2+1 = ?</h2>
                </div>

                <div class="form-check">

                    <input class="btn btn-warning" type="button" id="q1a1"value="4">
                    <input class="btn btn-warning" type="button" id="q1a2"value="8">
                    <input class="btn btn-warning" type="button" id="q1a3"value="5">
                    <input class="btn btn-warning" type="button" id="q1a4"value="3">
                </div>
            </div>
        </div>
    </div>
 
    <div class="container" id="qbody">
        <div class="card text-center" >
            <div class="card-body">
                <h5 class="card-title">Question 2 </h5>
                <div class="alert alert-primary" role="alert" id="qbox">
                    <h2>11X3 = ?</h2>
                </div>

                <div class="form-check">

                    <input class="btn btn-warning" type="button" id="q2a1"value="3">
                    <input class="btn btn-warning" type="button" id="q2a2"value="22">
                    <input class="btn btn-warning" type="button" id="q2a3"value="33">
                    <input class="btn btn-warning" type="button" id="q2a4"value="11">
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="qbody">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Question 3 </h5>
                <div class="alert alert-primary" role="alert" id="qbox">
                    <h2>20-15 = ?</h2>
                </div>

                <div class="form-check">

                    <input class="btn btn-warning" type="button" id="q3a1"value="4">
                    <input class="btn btn-warning" type="button" id="q3a2"value="7">
                    <input class="btn btn-warning" type="button" id="q3a3"value="5">
                    <input class="btn btn-warning" type="button" id="q3a4"value="3">
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="qbody">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Question 4 </h5>
                <div class="alert alert-primary" role="alert" id="qbox">
                    <h2>100/20 = ?</h2>
                </div>

                <div class="form-check">

                    <input class="btn btn-warning" type="button" id="q4a1"value="50">
                    <input class="btn btn-warning" type="button" id="q4a2"value="2">
                    <input class="btn btn-warning" type="button" id="q4a3"value="5">
                    <input class="btn btn-warning" type="button" id="q4a4"value="30">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 item text">
                    <p class="copyright">Team Name © 2019</p>
                </div>

            </div>
    </footer>
    <script type="text/javascript">
        [1, 2, 3, 4].forEach(function(j) {
            [1, 2, 3, 4].forEach(function(i) {
                document.querySelector("#q" + j + "a" + i).addEventListener("click", function() {
                    switch (j) {
                        case 1:
                            answer_correct = (i == 4) ? true : false;
                            break;
                        case 2:
                            answer_correct = (i == 3) ? true : false;
                            break;
                        case 3:
                            answer_correct = (i == 3) ? true : false;
                            break;
                        case 4:
                            answer_correct = (i == 3) ? true : false;
                            break;
                    }

                    if (answer_correct == true)
                        alert("Correct answer!");
                    else
                        alert("Incorrect answer!");
                    
                });
            });
        });
        
    </script>
{% endblock content %}